<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <img routerLink="/" src="/assets/IMG/Final LOGO.png" alt="FTTC Logo" />
      <h2 routerLink="/">FTTC FOODS</h2>
      <p>Connecting Farmers to Customers with Trust.</p>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h3>Contact Us</h3>
      <p>Phone: +91 9296574860</p>
      <p>Email: fttcfoods<span>&#64;</span>gmail.com</p>
      <p>Location: Buxar Bihar, India</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 FTTC FOODS. All rights reserved.</p>
  </div>
</footer>
