<div class="cube-container">
    <div class="cube">
        <div class="face front">
            <img src="/assets/IMG/20250513_0830_Creative Rice Display_remix_01jv3sa44ae5nr7qvqvvqjcb9g.png" alt=""
                height="100%" width="100%">
        </div>
        <div class="face back"> <img
                src="/assets/IMG/20250513_0830_Creative Rice Display_remix_01jv3sa44ae5nr7qvqvvqjcb9g.png" alt=""
                height="100%" width="100%">
        </div>
        <div class="face right"> <img
                src="/assets/IMG/20250513_0830_Creative Rice Display_remix_01jv3sa44ae5nr7qvqvvqjcb9g.png" alt=""
                height="100%" width="100%">
        </div>
        <div class="face left"> <img
                src="/assets/IMG/20250513_0830_Creative Rice Display_remix_01jv3sa44ae5nr7qvqvvqjcb9g.png" alt=""
                height="100%" width="100%">
        </div>
        <div class="face top"> <img
                src="/assets/IMG/20250513_0830_Creative Rice Display_remix_01jv3sa44ae5nr7qvqvvqjcb9g.png" alt=""
                height="100%" width="100%">
                        <div class="face bottom"> <img
                    src="/assets/IMG/20250513_0830_Creative Rice Display_remix_01jv3sa44ae5nr7qvqvvqjcb9g.png" alt=""
                    height="100%" width="100%">
            </div>
        </div>
    </div>

    